# Django
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3
*.log

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Media and static files
/media
/staticfiles
/static
/certificates
/backups

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Virtual environments
venv/
ENV/
env/
.venv/